<mat-card>
  <form (submit)="onCadastrarLivro(formLivro)" #formLivro="ngForm">
    <h2>Cadastrar novo livro</h2>
    <mat-form-field>
      <input
        type="number"
        required
        placeholder="id"
        matInput
        name="id"
        ngModel
        #id="ngModel"
      />
      <mat-error *ngIf="id.invalid">Digite um id válido</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        type="text"
        required
        minlength="4"
        placeholder="título"
        matInput
        name="titulo"
        ngModel
        #titulo="ngModel"
      />
      <mat-error *ngIf="titulo.invalid"
        >Digite um título válido (mínimo de 4 caracteres)</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <input
        type="text"
        required
        placeholder="autor"
        matInput
        name="autor"
        ngModel
        #autor="ngModel"
      />
      <mat-error *ngIf="autor.invalid"
        >Digite um nome de autor válido</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <input
        type="number"
        required
        placeholder="Nº de páginas"
        matInput
        name="nroPag"
        ngModel
        #nroPag="ngModel"
      />
      <mat-error *ngIf="nroPag.invalid"
        >Digite um número de páginas válido</mat-error
      >
    </mat-form-field>

    <button color="primary" mat-raised-button>Cadastrar livro</button>
  </form>
</mat-card>
