<mat-card>
  <form (submit)="onCadastrarLivro(formLivro)" #formLivro="ngForm">
    <h2>Cadastrar novo livro</h2>
    <mat-form-field>
      <input
        type="number"
        required
        placeholder="id"
        matInput
        name="id"
        [(ngModel)]="id"
      />
    </mat-form-field>

    <mat-form-field>
      <input
        type="text"
        required
        minlength="4"
        placeholder="título"
        matInput
        name="titulo"
        [(ngModel)]="titulo"
      />
    </mat-form-field>

    <mat-form-field>
      <input
        type="text"
        required
        placeholder="autor"
        matInput
        name="autor"
        [(ngModel)]="autor"
      />
    </mat-form-field>

    <mat-form-field>
      <input
        type="number"
        required
        placeholder="Nº de páginas"
        matInput
        name="nroPag"
        [(ngModel)]="nroPag"
      />
    </mat-form-field>

    <button color="primary" mat-raised-button>Cadastrar livro</button>
  </form>
</mat-card>
